<!DOCTYPE html>
<html lang="ro">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/nav') %>
  <%- include('../partials/flash') %>
  <main class="container main-content">
    <%- body %>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>
